.main {
    background-color: black;
    height: 200px;
    padding: 5px;
    display: flex;
    /* flex-direction: column;  */
    justify-content:space-evenly;
    /* align-items: flex-start; */
    align-items: center;


    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* align-items: center;*/
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around;*/ 
    /* align-items: center;  */
    /* flex-direction: column; */
    /* align-items: flex-start;
    align-items: flex-end; */

    




 
   /* jab display: flex karte hein to direction row mai set krdeta hai or jab hamari direction row hoti hai 
    to justify-content hamesha horizontally hi chalega; */


}

.one {
    background-color: aqua;
    order: 0;
}

.two {
    background-color: beige;
    order: -1;
}

.three {
    background-color: red;
}

.four {
    background-color: rgb(190, 163, 163);
}

.five {
    background-color: yellow;
}