:root{
    --bg1:red; 
    --bg2:yellow;
    --width:100px;
}

td{
    background-color: var(--bg1);
    padding: 10px;
    border: 2px solid black;
    width: var(--width);
}

@keyframes moveRight {
    /* 0%{transform:translateX(0) ;}
    100% { transform: translateX(300px);} */
    0%{transform:translateY(0) ;}
    100% { transform: translateY(100px);} 
    
    
}


@keyframes rotateBox {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
    
    
}

table.one{
    border-spacing: 5px;
    /* animation: moveRight 1s infinite */
    animation: rotateBox 1s infinite;
}