.parent{
    background-color: black;
    position: relative;
    width: 250px;
    height: 100px;
}
/* 
.child{
    background-color: bisque;
    width: 150px;
    position: absolute;
} */

.One{
    background-color: bisque;
    position:absolute;
    width: 150px;
    height: 20px;
    top: 74px;
    left: 50px;
    z-index: 1;
    /* z index ksi ek cheez ko apne upr anei nahi deta balke apne neeche se guzaar deta hai
 */
}
.Two{
    background-color: blue;
    position: absolute;
    right: 10px;
    float: right;
    width: 80px;
    height: 80px;
}

/* .Three{
    background-color: rgb(79, 100, 100);
    color: beige;
    position: absolute;
    bottom: 10px;
} */

.Three{
    background-color: rgb(79, 100, 100);
    color: beige;
    position: fixed;
    
}