body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f9f9f9;
    color: #222;
}

.first-pic {
    width: 20%;
    height: 10%;
    text-align: center;
}

.second-pic {
    width: 180px;
    text-align: center;
}

.third-pic {
    width: 180px;
    text-align: center;
}

.first-pic-desc {
    text-align: top;
    font-size: 500px;

}

.second-pic-desc {
    text-align: top;
    font-size: 500px;
}

.third-pic-desc {
    text-align: top;
    font-size: 500px;
}

.col-price {
    width: 100px;
    text-align: top;
    font-weight: bold;
    font-size: 15px;
}


.col-price {
    text-align: top;
    margin-top: 5px;
}